- @with_header = true
- page_classes = page_class.push(@html_class).flatten.compact

!!! 5
%html.gl-h-full{ lang: I18n.locale, class: page_classes }
  = render "layouts/head"
  %body.gl-h-full{ data: body_data, class: system_message_class }
    = header_message
    = render 'peek/bar'
    = render 'layouts/published_experiments'
    = render "layouts/header/empty"
    .layout-page.gl-h-full.borderless.gl-display-flex.gl-flex-wrap
      .content-wrapper.gl-pt-6{ class: 'gl-md-pt-11!' }
        %div{ class: container_class }
          %main#content-body.content
            = render "layouts/flash" unless @hide_flash
            = yield
      = yield :footer
    = footer_message
